.footer {
	list-style: none;
	display: flex;
	position: relative;
	cursor: pointer;
	margin: 2rem;
	bottom: 2rem;
	right: 1rem;
    text-decoration: none;
    text-align: center;
    align-items: center;
}
/* overall */
.footer li:before {
    background: #333;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-left: 0.4rem;
}
/* github */
.footer li:nth-child(1) .fa {
    content: 'f09b';
    background: #333;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-left: 0.4rem;
}
/* facebook */
.footer li:nth-child(2) .fa {
    content: 'f09a';
    background: #3b5998;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-left: 0.4rem;
}
/* insta */
.footer li:nth-child(3) .fa {
    content: 'f16d';
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-left: 0.4rem;
}
/* linkedin */
.footer li:nth-child(4) .fa {
    content: 'f0e1';
    background: #0e76a8;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-left: 0.4rem;
}
/* youtube */
.footer li:nth-child(5) .fa {
    content: 'f167';
    background: #FF0000;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-left: 0.4rem;
}
/* icons */
.footer li a .fa {
    font-size: 1.5rem;
	color: #FFFEF2;
}
