.container {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 4rem;
	color: #333333;
}
.cursor {
	border-right: .05em solid;
	animation: caret 1s steps(1) infinite;
}
@keyframes caret {
	50% {
	  border-color: transparent;
	}
}
